/*Slim tabs and fixed opacity (#3190)*/
headerbar {
  margin: 0;
  padding: 0;
  min-height: 20px;
  min-width: 100%;
}

tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 10px;
  background-color: #1a1a1ab5; /*0.85 transparency*/
  font-family: monospace;
  min-width: 100%;
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
  color: #9ca3af;
  border-right: 1px solid #374151;
  border-radius: 0 0 0 0;
}

tabbar tabbox tab:selected {
  background-color: #2d2d2df2; /*0.95 transparency*/
  color: #ffffff;
}

tabbar tabbox tab label {
  font-size: 13px;
}
